<!DOCTYPE html>
<html>
<head>
    <title>Kodland & Me</title>
    <link rel="stylesheet" href="D:\\0. Data Materi Sekolah Rumah-Transit\\H. Kodland\\Python Pro\\Folder\\WebFF1\\static\\css\\style.css">
</head>
<body>
    <h1>kodland</h1>
    <p>Tempat belajar coding yang menyenagkan!</p>
    <h2>Kursus yang sudah saya selesaikan di kodland:</h2>
             <ul>
                   <li>Scratch</li>
                   <li>Python Programming Language</li>
             </ul>
    <h2>Kursus yang sedang saya jalankan di kodland:</h2>
            <ul>
                   <li>Python Pro</li>
             </ul>
     <img src="D:\\0. Data Materi Sekolah Rumah-Transit\\H. Kodland\\Python Pro\\Folder\\WebFF1\\static\\img\\hbhjac14r1yne6mpy5oy.webp" alt="Gambar 1">
     <iframe src="https://www.meteoblue.com/en/weather/widget/daily/south-tangerang_indonesia_8581443?geoloc=fixed&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&windgust=1&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitationprobability=0&spot=0&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 378px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/south-tangerang_indonesia_8581443?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
</body>
</html>